

body {
  font-family: 'Chivo', sans-serif;

}

.container{
  position: relative;
  max-width: 800px !important;
  margin: 0 auto;
    
}

a{ text-decoration: none; }

.top-header{
  background-color: #2ffb99;
  min-height: 100px;
}

.header {
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: block;
  font-size: 4rem !important;
  text-align: center;
}

.bottom-header{
  padding: 20px;
  background-color: #2ffb99;
}



.info {
  text-align: center;
  color: #272727;
  font-weight: 300;
  margin: 0 auto; 
  font-size: 2rem
}

.img-header {
  display: block;
  width: 60vw;
  margin: 0 auto;
}

.button {
  /*display: block;*/
  /*margin: 0.5vh auto;*/
  /*padding: 1vh;*/
  /*width: 50vw;*/
  /*height: 5vh;*/
  padding: 3px;
  background-color: #fff;
  /*transform: translateY(35%);*/
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.button-text {
  /*display: block;*/
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  
  /*transform: translateY(50%);*/
}

.arrow-svg {
  width: 2vh;
}

/*.sub-header {
  text-align: center;
  font-weight: 300;
}
*/


.arrow-svg {
    width: 2vh;
}



.plan-header {
    font-size: 5vw;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #2FFB99;
    padding: 10px !important;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-left: 170px;
}

.plan {
    margin: 10px !important;
    border: 1px solid lightgrey;
    padding: 10px;
    /*background-color: #EDEDED;*/
}


.plan-header:hover {
    background: #dfdfdf;
}

.input{
  border-radius: 5px;
  padding: 5px;
  border: 1px solid lightgrey;
}
