* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chivo', sans-serif;
}

.header {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: block;
    font-size: 15vw;
    text-align: center;
}

.release-button {
    display: block;
    width: 70vh;
}
